#logo-mainWrapper {
  max-width: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#logo-mainWrapper > .app-logo {
  width: 38px;
  padding-right: 6px;
}
#logo-mainWrapper > .app-logo-small {
  width: 20px;
  padding-right: 4px;
}
#logo-mainWrapper > span {
  font-size: 1.1rem;
  font-weight: var(--font-700);
}
