.productTab-mainWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
}
.product-tab-header-list-btn {
  border: none;
  background-color: transparent;
  margin: 4px;
  cursor: pointer;
  padding: 4px;
  font-size: 1.2rem;
  font-weight: var(--font-400);
}
.product-tab-header-list-btn:hover {
  background-color: var(--border);
  border-radius: 8px;
  text-decoration: underline;
  color: var(--primary);
}
.active-tab {
  border-radius: 8px;
  text-decoration: underline;
  color: var(--primary);
}
